.intro {
    background: $color-purple;
    position: relative;
    .intro__container .intro__box {
        z-index: 2;
    }
    .intro__bg {
        position: absolute;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        z-index: 1;
    }
}
