.intro {
    background: $color-purple;
    position: relative;
    .intro__container .intro__box {
        z-index: 2;
        padding: 15px 20px;
    }
}
.intro__img{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    &:hover img{
    }
}
