.btn__pink{
    @include styleButton(white,$color-pink1,10px,25px,transparent,$padding-2,white);
    font-size: $padding-1;
    &:hover{
        @include styleButtonHover(transparent,$color-pink1,$color-pink1);
        font-size: $padding-1;
    }
    &:focus{
        outline: none;
    }
}
.btn__white{
    @include styleButton($color-black1,white,10px,25px,transparent,$padding-2,$color-black1);
    font-size: $padding-1;
    font-weight: $fw-3;
    &:hover{
        @include styleButtonHover($color-pink1,white,white);
        font-size: $padding-1;
    }
    &:focus{
        outline: none;
    }
}

