.card__title{
    @include styleTitle(1.5rem,$fw-1,3.15rem,$fw-3);
    text-align: left;
}
.card__intro{
    @include styleTitle(.8rem,$fw-2,2rem,$fw-3);
    text-align: center;
}

.card__teacher{
    overflow: hidden;
    .intro__img img{
        
        transition: .5s all;
        overflow: hidden;
    }
    &:hover{
        .intro__img img{
            transform: scale3d(1.05,1.05,1.05);
            overflow: hidden;
        }
    }
    .intro__text{
        background-color:white;
        border-radius: 0 0 10px 10px;
    }
}
.card__bgroundBottom{
    @include styleWaveBg(cover,center);
    bottom:0;
}
.card__bgroundTop{
    @include styleWaveBg(cover,center);
    top:0;
}
.card__footer{
    h3{
        color:white;
        padding:10px;
        font-weight: $fw-3;
    }
    i{
        padding-right: 10px;
    }
    li:last-of-type{
    i{
        padding-top:10px;
        transition: .5s all;
        &:hover{
            color:black;
        }
    }
}
    ul li{
        list-style: none;
        border-bottom: 1px solid  rgba(0,0,0,.1);
        padding:10px;
        color:white;
        a{
            text-decoration: none;
            color:white;
        }
    }
}